 <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->                      
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- Page-Title -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="btn-group pull-right m-t-15">
                                    <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                                    <ul class="dropdown-menu drop-menu-right" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>

                                <h4 class="page-title">Add New Event</h4>
                            </div>
                        </div>
                        
                        <div class="row">
							<div class="col-lg-6">
								<div class="card-box">
									<h4 class="m-t-0 header-title"><b>Event Form</b></h4>
									<p class="text-muted font-13 m-b-30">
	                                    <!-- Your events text goes here. -->
	                                </p>
		                                        
									<form action="#" data-parsley-validate novalidate>
                                        <div class="form-group">
                                            <label class="control-label">Image</label>
                                            <input type="file" class="filestyle" data-buttontext="Select file" data-buttonname="btn-white">
                                        </div>
										<div class="form-group">
											<label for="userName">Title</label>
											<input type="text" name="title" parsley-trigger="change" required placeholder="Enter event title" class="form-control" id="userName">
										</div>
                                        <div class="form-group">
											<label for="userName">Location</label>
											<input type="text" name="location" parsley-trigger="change" required placeholder="Enter location" class="form-control" id="userName">
										</div>
                                        <div class="form-group">
                                            <label class="control-label">Date Range With Time</label>
                                            <input type="text" class="form-control input-daterange-timepicker" name="daterange" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM"/>
                                        </div>
										<div class="form-group">
                                            <label class="control-label">Description</label>
                                            <textarea required class="form-control"></textarea>
                                        </div>
										<div class="form-group text-right m-b-0">
											<button class="btn btn-primary waves-effect waves-light" type="submit">
												Submit
											</button>
										</div>
									</form>
								</div>
							</div>
							
						</div>
                        
            		</div> <!-- container -->
                               
                </div> <!-- content -->

                <footer class="footer">
                    © 2016. All rights reserved.
                </footer>

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->