<section id="category-slider" class="profile">
    <div class="container">
        <div class="row">
            <div class="col-md-6 push-md-3 responsiv">
                <ul class="profile-slider">
                    <li>Choose your category:</li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                FILTER
                            </button>
                            <div class="drop dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <% if(role === "company"){%>
                                    <a data-value=0 href="#" class="dropdown-item">Your Tours</a>
                                    <a data-value=1 href="#" class="dropdown-item">Your Guides</a>
                                <% } if(role === "guide"){%>
                                    <a data-value=0 href="#" class="dropdown-item">Your Tours</a>
                                <% } if(role === "host"){%>
                                    <a data-value=0 href="#" class="dropdown-item">Your Acccommodations</a>
                                <% } %>
                                <a data-value=3 href="#">Settings</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="imageHeader">
                    <ul class="profile-slider">
                        <% if(role === "company"){%>
                            <li class="active"><a data-value=0 href="#">Your Tours</a></li>
                            <li><a data-value=1 href="#">Your Guides</a></li>
                        <% } if(role === "guide"){%>
                            <li class="active"><a data-value=0 href="#">Your Tours</a></li>
                        <% } if(role === "host"){%>
                            <li class="active"><a data-value=0 href="#">Your Accommodations</a></li>
                        <% } %>
                        <li><a data-value=3 href="#">Settings</a></li>
                    </ul>
                </div>
                <a href="#"></a>
            </div>
            
            <% if(role === "company"){%>
                <%- include('./../components/customer-profile-tours') %>
                <%- include('./../components/customer-profile-guides') %>
            <% } if(role === "guide"){%>
                <%- include('./../components/customer-profile-tours') %>
            <% } if(role === "host"){%>
                <%- include('./../components/customer-profile-accommodations') %>
            <% } %>

            <div class="col-md-12 photos enable-hide displayFour">
                <div class="flat-tabs" data-effect="fadeIn">
                    <div class="wrap-radio menu-tab">
                        <div class="radio active">
                            <input id="radio-1" name="radio" type="radio" checked="checked">
                            <label for="radio-1" class="radio-label">Change Your Email</label>
                        </div>

                        <div class="radio">
                            <input id="radio-2" name="radio" type="radio">
                            <label for="radio-2" class="radio-label">Change Your Password</label>
                        </div>

                        <div class="radio">
                            <input id="radio-3" name="radio" type="radio">
                            <label for="radio-3" class="radio-label">General Setting</label>
                        </div>

                        <div class="radio">
                            <input id="radio-4" name="radio" type="radio">
                            <label for="radio-4" class="radio-label">Add Review</label>
                        </div>
                    </div>
                    <!-- /.menu-tab -->
                    <div class="content-tab">

                        <!-- Update Email -->
                        <div class="content-inner active">
                            <div class="wrap-form-update">
                                <form class="update-form" action="/customer/update/email" method="post">
                                    <div class="update-input" id="profile-setting">
                                        <div class="change-input">
                                            <div class="profile-input">                                      
                                                <input class="form-input-size" type="email" name="email" placeholder="Email*" aria-required="true" size="30" value="" id="author">
                                            </div>
                                        </div>
                                        <div class="wrap-button">
                                            <p class="update-form-submit">
                                                <button class="update-submit custom-update-submit">Update</button>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- Update Password -->
                        <div class="content-inner">
                            <div class="wrap-form-update">
                                <form class="update-form" method="post" action="/customer/update/password">
                                    <div class="update-input" id="profile-setting">
                                        <div class="change-input">
                                            <div class="profile-input">                                      
                                                <input class="form-input-size" type="password" name="currentPass" placeholder="Current Password*" aria-required="true" size="30" value="" id="author">
                                            </div>
                                            <div class="profile-input">                                      
                                                <input class="form-input-size" type="password" name="newPass1" placeholder="New Password*" aria-required="true" size="30" value="" id="author">
                                            </div>
                                            <div class="profile-input">                                      
                                                <input class="form-input-size" type="password" name="newPass2" placeholder="Retype New Password*" aria-required="true" size="30" value="" id="author">
                                            </div>
                                        </div>    
                                        <div class="wrap-button">
                                            <p class="update-form-submit">
                                                <button class="update-submit custom-update-submit">Update</button>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- General Setting -->
                        <div class="content-inner">
                            <div class="wrap-form-update">
                                <form class="update-form" action="">
                                    <div class="update-input" id="profile-setting">
                                        <div class="change-input">
                                            <div class="profile-input">                                      
                                                <input class="form-input-size" type="text" name="firstName" placeholder="First Name*" aria-required="true" value="" id="author">
                                            </div>
                                            <div class="profile-input">                                      
                                                <input class="form-input-size" type="text" name="lastName" placeholder="Last Name*" aria-required="true" value="" id="author">
                                            </div>
                                            <div class="profile-input">                                      
                                                <input class="form-input-size" type="text" name="country" placeholder="Country*" aria-required="true" value="" id="author">
                                            </div>
                                        </div>    
                                        <div class="change-input">
                                            <div class="profile-input">                                      
                                                <input class="form-input-size" type="text" name="firstName" placeholder="First Name*" aria-required="true" value="" id="author">
                                            </div>
                                            <div class="profile-input">                                      
                                                <input class="form-input-size" type="text" name="lastName" placeholder="Last Name*" aria-required="true" value="" id="author">
                                            </div>
                                            <div class="profile-input">                                      
                                                <input class="form-input-size" type="text" name="country" placeholder="Country*" aria-required="true" value="" id="author">
                                            </div>
                                        </div>    
                                        <div class="wrap-button">
                                            <p class="update-form-submit">
                                                <button class="update-submit custom-update-submit">Update</button>
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div><!-- /.content-inner -->

                        <div class="content-inner">
                            <div class="wrap-form-update">
                                <div>hello</div>
                            </div>
                        </div><!-- /.content-inner -->

                    </div><!-- /.content-tab -->
                </div><!-- /.flat-tabs -->
            </div>
        </div>
    </div>
</section>