<div class="col-md-12 photos enable-hide displayTwo">
    <div class="flat-tabs" data-effect="fadeIn">
        <div class="wrap-radio menu-tab">
            <div class="radio active">
                <input id="radio-1" name="radio" type="radio" checked="checked">
                <label for="radio-1" class="radio-label">Guides</label>
            </div>
            <div class="radio">
                <input id="radio-2" name="radio" type="radio">
                <label for="radio-2" class="radio-label">Invite New</label>
            </div>
        </div>
        <!-- /.menu-tab -->
        <div class="content-tab">
            <div class="content-inner active">
                <div class="wrap-form-update">
                    <div class="table-responsive custom-table-responsive">
                        <table class="table custom-table">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <label class="control control--checkbox">
                                            <input type="checkbox" class="js-check-all" />
                                            <div class="control__indicator"></div>
                                        </label>
                                    </th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr scope="row">
                                    <th scope="row">
                                        <label class="control control--checkbox">
                                            <input type="checkbox" />
                                            <div class="control__indicator"></div>
                                        </label>
                                    </th>
                                    <td>
                                        John Wick
                                        <small class="d-block">john@email.com</small>
                                    </td>
                                    <td>Pending Invite</td>
                                    <td>...</td>
                                </tr>
                                <!-- <tr class="spacer"><td colspan="100"></td></tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.content-inner -->

            <div class="content-inner">
                <div class="wrap-form-update">
                    <form class="update-form" action="">
                        <div class="update-input" id="profile-setting">
                            <div class="change-input">
                                <div class="profile-input">                                      
                                    <input class="form-input-size" type="email" name="guideEmail" placeholder="Email*" aria-required="true" size="30" value="" id="author">
                                </div>
                            </div>
                            <div class="wrap-button">
                                <p class="update-form-submit">
                                    <button class="update-submit custom-update-submit">Update</button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- /.content-inner -->
        </div><!-- /.content-tab -->
    </div><!-- /.flat-tabs -->
</div>