<div class="flat-tabs" data-effect="fadeIn">
    <div class="wrap-radio menu-tab">

        <div class="radio active">
            <input id="radio-1" name="radio" type="radio" checked="checked">
            <label for="radio-1" class="radio-label">Review</label>
        </div>

        <div class="radio">
            <input id="radio-2" name="radio" type="radio">
            <label for="radio-2" class="radio-label">Add Review</label>
        </div>
    </div>
    <!-- /.menu-tab -->
    <div class="content-tab">

        <div class="content-inner active">
            <div class="flat-list-review">
                <ul class="list-review clearfix">
                    <li class="item">
                        <div class="thumb overlays2">
                            <a href="#" class="link">
                                <img src="/upload/images/clients/rv-i1.jpg" alt="image">
                            </a>
                        </div>
                        <div class="text">
                            <h5>
                                <a href="#">Valentino Morose</a>
                            </h5>
                            <p class="date">Aug 20, 2017</p>
                            <div class="wrap-star s2 v1">
                                <ul class="star">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                            <div class="sub-title">Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</div>
                        </div>
                    </li>
                </ul>
                <!-- /.popular-news -->
            </div>
        </div><!-- /.content-inner -->

        <div class="content-inner">
            <div class="flat-add-review">
                <h4 class="title">Add Review</h4>
                <div class="wrap-form-add-review">
                    <form class="form-add-review" method="post" action="/review/<%= service %>/<%= id %>">
                        <div class="wrap-add-review-input">
                            <div class="one-half s1">
                                <p class="add-review-textarea">
                                    <label>Your Review*</label>
                                    <textarea id="yourreview" name="review" required="required"></textarea>
                                </p>
                                <input id="star-value" type="hidden" name="stars" value="">
                                <div id="star-rate" class="your-rating">
                                    <div class="wrap-star s2 v1">
                                        <div class="rating">Your Rating*</div>
                                        <ul class="star v1" required="required">
                                            <li data-value="1"></li>
                                            <li data-value="2"></li>
                                            <li data-value="3"></li>
                                            <li data-value="4"></li>
                                            <li data-value="5"></li>
                                        </ul>
                                    </div>
                                </div>
                                <button class="">Add Review</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.content-inner -->

    </div><!-- /.content-tab -->
</div><!-- /.flat-tabs -->

<script src="./../../upload/javascript/star-rate.js"></script>