 <!-- Page title -->
 <div class="page-title">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">                    
                <div class="page-title-heading">
                    <h1 class="title">404 Error</h1>
                </div><!-- /.page-title-captions -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->  
    </div><!-- /.container -->                      
</div><!-- /.page-title --> 
</div><!-- /.wrap-header --> 

<section class="flat-row page-error bg-theme pdtitle-section v12">
<div class="container">
    <div class="col-md-12">
        <div class="wrap-error">
            <div class="img-error">
                <img src="/upload/images/404/1.png" alt="img">
            </div>
            <div class="info-error">
                <div class="title-error">
                    Page Not Found!
                </div>
                <div class="sub-error">
                    Sorry, We Couldn’ re Find the Page you’re Looking for.
                </div>
                <div class="link-back">
                    <a href="/" title="">Go to Homepage</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>