<!-- Page title -->
<div class="page-title">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">                    
                <div class="page-title-heading">
                    <h1 class="title">Accommodation</h1>
                </div><!-- /.page-title-captions -->
            </div><!-- /.col-md-6 -->
            <div class="col-lg-6 col-md-6 col-xs-12">

            </div> <!-- /.col-md-6 -->
        </div><!-- /.row -->  
    </div><!-- /.container -->                      
</div><!-- /.page-title --> 
</div><!-- /.wrap-header --> 

<!-- imagebox -->
<section class="flat-row pd-imagebox v17">
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12 ">
            <div class="flat-imagebox style2 v3">
                <div class="item">
                    <a href="accommodation-details">
                        <div class="imagebox">
                            <div class="box-wrap">
                                <div class="box-image">
                                    <a href=""><img src="/upload/images/gallery-masonry/1.jpg" alt="img"></a>
                                    <div class="overlay"></div> <!-- /.overlay -->
                                </div>
                                <div class="box-content">
                                    <h4>Quba</h4>
                                    <h6>Entire House 2 bed</h6>
                                    <p>The best position in Baku</p>
                                    <span>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>
                                    <div class="money"> <span>$</span>278 <span>per night</span></div>
                                </div>
                            </div> <!-- /.box-wrap -->
                        </div>
                    </a> <!-- /.imagebox -->
                </div> <!-- /.item -->
                <div class="dividers dividers-imagebox s2"></div>
            </div> <!-- /.flat-imagebox -->
        </div> <!-- /.col-md-4 -->
  
    </div><!-- /.row -->

    <div class="row">
        <div class="col-md-12">
            <div class="dividers dividers-des-pagination"></div>
            <div class="blog-pagination des-pagination text-center">
                <ul class="flat-pagination clearfix">
                    <li class="prev">
                        <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                    </li>
                    <li class="active"><a href="#">01</a></li>
                    <li><a href="#">02</a></li>
                    <li><a href="#">03</a></li>
                    <li><a href="#">04</a></li>
                    <li><a href="#">05</a></li>
                    <li>......</li>
                    <li><a href="#">10</a></li>                                  
                    <li class="next">
                        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    </li>                               
                </ul><!-- /.flat-pagination -->
            </div>
        </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->            
</div><!-- /.container -->   
</section>

<!-- imageboxv11 -->
<section class="flat-row bg-theme pd-imageboxv15">
<div class="container">
    <div class="row">
        <div class="col-md-4">
        <div class="flat-imagebox style2 v2">
            <div class="item">
                <div class="imagebox">
                    <div class="box-wrap">
                        <div class="box-image">
                            <a href="#"><img src="/upload/images/home/im-b-i16.jpg" alt="img"></a>
                            <div class="overlay"></div> <!-- /.overlay -->
                            <div class="imagebox-content">
                                <ul class="imagebox-link">
                                    <li class="icon-s FromLeft">
                                        <a href="tour-details.html">
                                            <button class="flat-button">Book Now</button>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-content">
                            <h4>Shaki</h4>
                            <div class="money"> <span>$</span>248</div>
                            <div class="sub-title">6 days</div>

                            <div class="wrap-star s2">                                            
                                <ul class="star">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div> <!-- /.wrap-star -->
                        </div>
                    </div> <!-- /.box-wrap -->
                </div> <!-- /.imagebox -->
            </div> <!-- /.item -->
        </div>
    </div>

        <div class="col-md-4">
        <div class="flat-imagebox style2 v2">
            <div class="item">
                <div class="imagebox">
                    <div class="box-wrap">
                        <div class="box-image">
                            <a href="#"><img src="/upload/images/home/im-b-i16.jpg" alt="img"></a>
                            <div class="overlay"></div> <!-- /.overlay -->
                            <div class="imagebox-content">
                                <ul class="imagebox-link">
                                    <li class="icon-s FromLeft">
                                        <a href="tour-details.html">
                                            <button class="flat-button">Book Now</button>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-content">
                            <h4>Shaki</h4>
                            <div class="money"> <span>$</span>248</div>
                            <div class="sub-title">6 days</div>

                            <div class="wrap-star s2">                                            
                                <ul class="star">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div> <!-- /.wrap-star -->
                        </div>
                    </div> <!-- /.box-wrap -->
                </div> <!-- /.imagebox -->
            </div> <!-- /.item -->
        </div>
    </div>

        <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="dividers v15"></div>
            <div class="title-section color-black style4 text-right">
                <a class="number-slide" href="#">02</a>
                <h3 class="top-section">Recommended tours</h3> <!-- /.top-section -->
                <h2 class="title">For <span>You</span></h2> <!-- ./title -->
            </div> <!-- /.title-section -->
        </div> <!-- /.col-md-4 -->
    </div>
</div>
</section>