<!-- Page title -->
<div class="page-title">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">                    
                <div class="page-title-heading">
                    <h1 class="title">E-Visa</h1>
                </div><!-- /.page-title-captions -->
            </div><!-- /.col-md-6 -->
            <div class="col-lg-6 col-md-6 col-xs-12">

            </div> <!-- /.col-md-6 -->
        </div><!-- /.row -->  
    </div><!-- /.container -->                      
</div><!-- /.page-title --> 
</div><!-- /.wrap-header --> 



<section class="flat-row pdtitle-section v1">
<div class="container">
    <div class="row">
     <div class="col-lg-12 col-md-12">
        <div class="dividers dividers-title-section"></div>
        <div class="title-section color-black style3">
            <a class="number-slide" href="#">01</a>
            <h3 class="top-section"><span>E-VISA</span> - QUICK AND CONVENIENT</h3> <!-- /.top-section -->
            <div class="sub-title">
                <p>
                    In January 2017, the ASAN visa portal was launched in Azerbaijan. For a length of stay in the country of up to 30 days, a one-time electronic visa can be obtained from the portal and is available within 3 working days after payment and sent directly to the applicant’s e-mail. The state fee is 20 US dollars for a visa. Applications for electronic visas via the portal are intended for individuals, families (at least 2, maximum 10 people) and groups (minimum 10, maximum 300 people). The simplification of visa procedures has had a positive impact on the flow of tourists into the country. After the introduction of electronic visas, the number of tourists arriving in Azerbaijan increased by 11 percent in 2016. Bear in mind that visa procedures in the international airports of Azerbaijan for citizens of the United Arab Emirates have been simplified since November 2015 and for citizens of Kuwait, Qatar, Oman, Saudi Arabia, Japan, the People’s Republic of China, Bahrain, South Korea, Malaysia, Indonesia and Singapore since February 2016. Since the introduction of electronic visas, the number of tourists coming from European countries has also increased. In addition, according to statistics, about 70 percent of visitors are citizens from states that enjoy a visa-free regime with Azerbaijan.
                </p>
            </div> <!-- /.sub-title -->                        
        </div>
    </div> <!-- /.col-md-6 -->
</div><!-- /.row -->          
</div><!-- /.container -->  



<!-- video parallax -->
<section>
<div class="container-fluid">
    <div class="row">
        <iframe width="100%" height="550px;" src="https://www.youtube.com/embed/hwHsnArTzeg?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
    </div>
</div>
</section>