<!-- Page title -->
<div class="page-title">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">                    
                <div class="page-title-heading">
                    <h1 class="title">Tours</h1>
                </div><!-- /.page-title-captions -->
            </div><!-- /.col-md-6 -->
        </div><!-- /.row -->  
    </div><!-- /.container -->                      
</div><!-- /.page-title --> 
</div><!-- /.wrap-header -->   

<!-- imagebox -->
<section class="flat-row pd-imagebox v4">
<div class="container">
<div class="row">        

    <div class="container">
        <div class="dividers dividers-title-section"></div>
        <div class="title-section color-black style3 gallery">
            <a class="number-slide" href="#">01</a>
            <h2 class="title"><span>Entertainment</span></h2> <!-- ./title -->
        </div>
    </div>        
    <div class="col-md-4">
        <div class="flat-imagebox style2 v2">
            <div class="item">
                <div class="imagebox">
                    <div class="box-wrap">
                        <div class="box-image">
                            <a href="#"><img src="/upload/images/home/im-b-i14.jpg" alt="img"></a>
                            <div class="overlay"></div> <!-- /.overlay -->
                            <div class="imagebox-content">
                                <ul class="imagebox-link">
                                    <li class="icon-s FromLeft">
                                        <a href="tour-details.html">
                                            <button class="flat-button">Book Now</button>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="box-content">
                            <h4>Quba</h4>
                            <div class="money"> <span>$</span>278</div>
                            <div class="sub-title">2 days</div>

                            <div class="wrap-star s2">                                            
                                <ul class="star">
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div> <!-- /.wrap-star -->
                        </div>
                    </div> <!-- /.box-wrap -->
                </div> <!-- /.imagebox -->
            </div> <!-- /.item -->

            <div class="dividers dividers-imagebox s2 v2"></div>
        </div> <!-- /.flat-imagebox -->
    </div> <!-- /.col-md-4 -->                 
</div><!-- /.row -->

<div class="row">
    <div class="col-md-12">
        <div class="wrap-view-more">
            <button class="viewmore">View More</button>
        </div>
    </div>
</div>          
</div><!-- /.container -->   
</section>   