<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Touserve</title>
    <meta name="author" content="themesflat.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="/upload/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/upload/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/upload/stylesheets/custom.css">
    <link rel="stylesheet" type="text/css" href="/upload/stylesheets/responsive.css">
    
    <!-- Favicon and touch icons  -->
    <link href="/upload/icon/apple-touch-icon-48-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="/upload/icon/apple-touch-icon-32-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="/upload/icon/favicon.png" rel="shortcut icon">

</head>                                 
<body class="header_sticky">

    <section id="category-slider" class="flat-row page-register bg-theme pdtitle-section v13">
        <div class="container">
            <div class="row">
                <div class="col-md-3 push-md-3 responsiv">
                    <ul class="profile-slider">
                        <li>Choose your category:</li>
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    FILTER
                                </button>
                                <div class="drop dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a data-value=0 href="#" class="dropdown-item">Standart Login</a>
                                    <a data-value=1 href="#" class="dropdown-item">Business Login</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="imageHeader register">
                        <ul class="profile-slider">
                            <li class="active"><a data-value=0 href="#">User Login</a></li>
                            <li><a data-value=1 href="#">Business Login</a></li>
                        </ul>
                    </div>
                    <a href="#"></a>
                </div>
                <div class="col-md-9 photos displayOne">
                    <form novalidate="" class="login-form" id="loginform" method="post" action="/auth/user/login">
                        <div class="title-section center color-black style5 style12">
                            <h2 class="title">Login Now</h2> <!-- ./title -->
                            <div class="sub-title">
                                <p>Please login to your account</p>
                            </div>                 
                        </div>
                        <div class="wrap-login wrap-login-register">
                            <div class="wrap-input">
                                <% if (errors.wrongAttempt) { %>
                                    <p style="color: red;"><%= errors.wrongAttempt %></p>
                                <% } %> 
                                <div class="login-inputs">
                                    <p class="login-input">                                      
                                        <input type="email" placeholder="Email*" aria-required="true" size="30" value="" name="email" id="author" >
                                    </p>
                                </div>
                                <div class="login-inputs">
                                    <p class="login-input">                                        
                                        <input type="password" placeholder="Password*" size="30" value="" name="password" id="password">
                                    </p> 
                                </div>
                            </div> 
                            <div class="wrap-security">
                                    <a href="/auth/user/account-recovery" title="" class="security forgot">Forgot Password ?</a>
                            </div>
                            <p class="form-submit">                 
                                <button class="login-submit">Login Now</button>
                            </p>
                            <div class="not-account">
                                <p>Don’t have account -<a href="/register" title=""> Register Now</a></p>
                            </div>
                        </div>
                        <div class="other-account">
                            <ul>
                                <li><a href="#" title="" class="flat-account acc-google">Login Via Google</a></li>
                                <li><a href="#" title="" class="flat-account acc-face">Login Via Facebook</a></li>
                            </ul>
                        </div>
                    </form>
                </div>
                <div class="col-md-9 photos enable-hide displayTwo">
                    <form novalidate="" class="login-form" id="loginform" method="post" action="/auth/customer/login">
                        <div class="title-section center color-black style5 style12">
                            <h2 class="title">Login Now</h2> <!-- ./title -->
                            <div class="sub-title">
                                <p>Please login to your account</p>
                            </div>                 
                        </div>
                        <div class="wrap-login wrap-login-register">
                            <div class="wrap-input">
                                <% if (errors.wrongAttempt) { %>
                                    <p style="color: red;"><%= errors.wrongAttempt %></p>
                                <% } %> 
                                <div class="login-inputs">
                                    <p class="login-input">                                      
                                        <input type="email" placeholder="Email*" aria-required="true" size="30" value="" name="email" id="author" >
                                    </p>
                                </div>
                                <div class="login-inputs">
                                    <p class="login-input">                                        
                                        <input type="password" placeholder="Password*" size="30" value="" name="password" id="password">
                                    </p> 
                                </div>
                            </div> 
                            <div class="wrap-security">
                                    <a href="/auth/customer/account-recovery" title="" class="security forgot">Forgot Password ?</a>
                            </div>
                            <p class="form-submit">                 
                                <button class="login-submit">Login Now</button>
                            </p>
                            <div class="not-account">
                                <p>Don’t have account -<a href="/register" title=""> Register Now</a></p>
                            </div>
                        </div>
                        <div class="other-account">
                            <ul>
                                <li><a href="#" title="" class="flat-account acc-google">Login Via Google</a></li>
                                <li><a href="#" title="" class="flat-account acc-face">Login Via Facebook</a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Javascript -->
    <script type="text/javascript" src="/upload/javascript/jquery.min.js"></script>
    <script type="text/javascript" src="/upload/javascript/jquery.easing.js"></script>
    <script type="text/javascript" src="/upload/javascript/jquery.magnific-popup.min.js"></script> 
    <script type="text/javascript" src="/upload/javascript/jquery.flexslider-min.js"></script>  
    <script type="text/javascript" src="/upload/javascript/main.js"></script>

    <!-- Custom Slide -->
    <script type="text/javascript" src="/upload/javascript/services.js"></script>

</body>
</html>