<!-- Page title -->
<div class="page-title">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">                    
                <div class="page-title-heading">
                    <h1 class="title">Photos</h1>
                </div><!-- /.page-title-captions -->
            </div><!-- /.col-md-6 -->
            <div class="col-lg-6 col-md-6 col-xs-12">
                  
            </div> <!-- /.col-md-6 -->
        </div><!-- /.row -->  
    </div><!-- /.container -->                      
</div><!-- /.page-title --> 
</div><!-- /.wrap-header --> 

<section class="flat-row portfolio-style1 portfolio-style11 bg-theme pdtitle-section v16" id="work">  
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrap-filter">
                <ul class="portfolio-filter">
                    <li class="active"><a data-filter="*" href="#">All</a></li>
                    <li><a data-filter=".World" href="#">Baku</a></li>
                    <li><a data-filter=".Ocean" href="#">Nature</a></li>
                    <li><a data-filter=".summer" href="#">Culture & Art</a></li>
                    <li><a data-filter=".Sport" href="#">Events</a></li>
                </ul><!-- /.project-filter -->                         
            </div>  
        </div> <!-- /.col-md-12 -->
    </div>
</div>
<div class="container-fluid">
    <div class="flat-portfolio">             
        <div class="portfolio-wrap clearfix">
            <div class="item World Ocean summer Sport iv1">                                
                <div class="featured-images">
                    <img src="/upload/images/gallery-masonry/1.jpg" alt="images">
                    <div class="overlay"></div> <!-- /.overlay -->
                </div><!-- /.featured-images -->           
            </div><!-- /.portfolio-item -->

            <div class="item World Ocean iv2">                                
                <div class="featured-images">
                    <img src="/upload/images/gallery-masonry/2.jpg" alt="images">
                    <div class="overlay"></div> <!-- /.overlay -->
                </div><!-- /.featured-images -->           
            </div><!-- /.portfolio-item -->

            <div class="item Ocean summer  iv3">                                
                <div class="featured-images">
                    <img src="/upload/images/gallery-masonry/3.jpg" alt="images">
                    <div class="overlay"></div> <!-- /.overlay -->
                </div><!-- /.featured-images -->           
            </div><!-- /.portfolio-item -->

            <div class="item summer Sport iv4">                                
                <div class="featured-images">
                    <img src="/upload/images/gallery-masonry/4.jpg" alt="images">
                    <div class="overlay"></div> <!-- /.overlay -->
                </div><!-- /.featured-images -->           
            </div><!-- /.portfolio-item -->

            <div class="item World summer Sport iv5">                                
                <div class="featured-images">
                    <img src="/upload/images/gallery-masonry/5.jpg" alt="images">
                    <div class="overlay"></div> <!-- /.overlay -->
                </div><!-- /.featured-images -->           
            </div><!-- /.portfolio-item -->

            <div class="item Ocean summer Sport iv6">                                
                <div class="featured-images">
                    <img src="/upload/images/gallery-masonry/7.jpg" alt="images">
                    <div class="overlay"></div> <!-- /.overlay -->
                </div><!-- /.featured-images -->           
            </div><!-- /.portfolio-item -->

            <div class="item World Ocean summer iv3">                                
                <div class="featured-images">
                    <img src="/upload/images/gallery-masonry/6.jpg" alt="images">
                    <div class="overlay"></div> <!-- /.overlay -->
                </div><!-- /.featured-images -->           
            </div><!-- /.portfolio-item -->

            <div class="item summer Sport iv4">                                
                <div class="featured-images">
                    <img src="/upload/images/gallery-masonry/8.jpg" alt="images">
                    <div class="overlay"></div> <!-- /.overlay -->
                </div><!-- /.featured-images -->           
            </div><!-- /.portfolio-item -->

            <div class="item World Ocean Sport iv1">                                
                <div class="featured-images">
                    <img src="/upload/images/gallery-masonry/10.jpg" alt="images">
                    <div class="overlay"></div> <!-- /.overlay -->
                </div><!-- /.featured-images -->           
            </div><!-- /.portfolio-item -->

            <div class="item Ocean summer Sport iv1">                                
                <div class="featured-images">
                    <img src="/upload/images/gallery-masonry/11.jpg" alt="images">
                    <div class="overlay"></div> <!-- /.overlay -->
                </div><!-- /.featured-images -->           
            </div><!-- /.portfolio-item -->

            <div class="item World Ocean summer iv3">                                
                <div class="featured-images">
                    <img src="/upload/images/gallery-masonry/12.jpg" alt="images">
                    <div class="overlay"></div> <!-- /.overlay -->
                </div><!-- /.featured-images -->           
            </div><!-- /.portfolio-item -->

            <div class="item World Ocean Sport iv4">                                
                <div class="featured-images">
                    <img src="/upload/images/gallery-masonry/9.jpg" alt="images">
                    <div class="overlay"></div> <!-- /.overlay -->
                </div><!-- /.featured-images -->           
            </div><!-- /.portfolio-item -->

        </div><!-- /.portfolio-wrap -->
        <div class="btn-gallery-masonry">
            <button class="flat-button">Load More</button>
        </div>
    </div><!-- /.flat-portfolio -->
</div>
</section> 