            <!-- Page title -->
            <div class="page-title">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-xs-12">
                            <div class="page-title-heading">
                                <h1 class="title">Forgot Password</h1>
                            </div>
                            <!-- /.page-title-captions -->
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-lg-6 col-md-6 col-xs-12">
                        </div>
                        <!-- /.col-md-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.page-title -->
        </div>
        <!-- /.wrap-header -->
              

        <section class="flat-row custom-flat-row pd-destination-details bg-theme">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12"></div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="wrap-contact-title wrap-touch">
                            <form action="/auth/<%= type %>/reset-password" method="post" enctype="multipart/form-data" novalidate class="contact-form" id="contactform">
                                <div class="wrap-input">
                                    <div class="col-md-12">
                                        <div class="profile-input">                                      
                                            Use a minimum of 8 characters, including uppercase letters, lowercase letters and numbers.
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="profile-input">
                                            <input type="hidden" name="token" value="<%= token %>">                                      
                                            <input class="form-input-size" type="password" name="newPass1" placeholder="Password*" aria-required="true" id="LestName">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="profile-input">                                      
                                            <input class="form-input-size" type="password" name="newPass2" placeholder="Retype Password*" aria-required="true" value="" id="LestName">                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <p class="form-submit">                 
                                            <button class="contact-submit">Send</button>
                                        </p>
                                    </div>
                                </div>  
                            </form>
                        </div>
                    </div><!-- /.col-md-9 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>