        <!-- Page title -->
        <div class="page-title">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-12">                    
                        <div class="page-title-heading">
                            <h1 class="title">Tours</h1>
                        </div><!-- /.page-title-captions -->
                    </div><!-- /.col-md-6 -->
                </div><!-- /.row -->  
            </div><!-- /.container -->                      
        </div><!-- /.page-title --> 
    </div><!-- /.wrap-header -->   


    <!-- imagebox -->
    <div class="container custom-margin">
        <div class="dividers dividers-title-section"></div>
        <div class="title-section color-black style3 gallery">
            <a class="number-slide" href="#">01</a>
            <h2 class="title"><span>Tours Category</span></h2> <!-- ./title -->
        </div>
    </div>  
    <section style="margin-top: 40px;" class="flat-row parallax parallax5 section-contact overlay-s2 pd-imagebox v2">
        <div class="overlay-parallax"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="flat-imagebox style3 s1">
                        <div class="item">
                            <div class="imagebox">
                                <div class="box-wrap">
                                    <a href="culture-art-tours.html">
                                        <div class="box-image">
                                            <a href="#"><img src="/upload/images/home/im-b-i11.jpg" alt="img"></a>
                                            <div class="overlay"></div> <!-- /.overlay -->
                                        </div>
                                        <div class="box-content">                                      
                                            <h4>Culture & Art</h4>
                                            <a href="culture-art-tours.html">
                                                <button class="flat-button">View More</button>
                                            </a>
                                        </div>
                                    </a>
                                </div> <!-- /.box-wrap -->
                            </div> <!-- /.imagebox -->
                        </div> <!-- /.item -->
                    </div> <!-- /.flat-imagebox -->
                </div> <!-- /.col-md-4 -->

                <div class="col-md-4">
                    <div class="flat-imagebox style3 s2">
                        <div class="item">
                            <div class="imagebox">
                                <div class="box-wrap">
                                    <a href="beauty-health-tours.html">
                                        <div class="box-image">
                                         <!--  <div class="valuation">Best Offer</div> -->
                                         <a href="#"><img src="/upload/images/home/im-b-i12.jpg" alt="img"></a>
                                         <div class="overlay"></div> <!-- /.overlay -->
                                     </div>
                                     <div class="box-content">                                       
                                        <h4>Beauty & Health</h4>
                                        <a href="beauty-health-tours.html">
                                            <button class="flat-button">View More</button>
                                        </a>                                        
                                    </div>
                                </a>
                            </div> <!-- /.box-wrap -->
                        </div> <!-- /.imagebox -->
                    </div> <!-- /.item -->
                </div> <!-- /.flat-imagebox -->
            </div> <!-- /.col-md-4 -->

            <div class="col-md-4">
                <div class="flat-imagebox style3 s2">
                    <div class="item">
                        <div class="imagebox">
                            <div class="box-wrap">
                                <a href="entertainment-tours.html">
                                    <div class="box-image">
                                        <a href="#"><img src="/upload/images/home/im-b-i13.jpg" alt="img"></a>
                                        <div class="overlay"></div> <!-- /.overlay -->
                                    </div>
                                    <div class="box-content">                                       
                                        <h4>Entertainment</h4>
                                        <a href="entertainment-tours.html">
                                            <button class="flat-button">View More</button>   
                                        </a>                                     
                                    </div>
                                </a>
                            </div> <!-- /.box-wrap -->
                        </div> <!-- /.imagebox -->
                    </div> <!-- /.item -->
                </div> <!-- /.flat-imagebox -->
            </div> <!-- /.col-md-4 -->

            <div class="col-md-2"></div>   
            <div class="col-md-4">
                <div class="flat-imagebox style3 s2">
                    <div class="item">
                        <div class="imagebox">
                            <div class="box-wrap">
                                <a href="offroad-tours.html">
                                    <div class="box-image">
                                        <a href="#"><img src="/upload/images/home/im-b-i13.jpg" alt="img"></a>
                                        <div class="overlay"></div> <!-- /.overlay -->
                                    </div>
                                    <div class="box-content">                                       
                                        <h4>OffRoad</h4>
                                        <a href="offroad-tours.html">
                                            <button class="flat-button">View More</button>                                        
                                        </a>
                                    </div>
                                </a>
                            </div> <!-- /.box-wrap -->
                        </div> <!-- /.imagebox -->
                    </div> <!-- /.item -->
                </div> <!-- /.flat-imagebox -->
            </div> <!-- /.col-md-4 -->

            <div class="col-md-4">
                <div class="flat-imagebox style3 s2">
                    <div class="item">
                        <div class="imagebox">
                            <div class="box-wrap">
                                <a href="hunting-tours.html">
                                    <div class="box-image">
                                        <a href="#"><img src="/upload/images/home/im-b-i13.jpg" alt="img"></a>
                                        <div class="overlay"></div> <!-- /.overlay -->
                                    </div>
                                    <div class="box-content">                                       
                                        <h4>Hunting</h4>
                                        <a href="hunting-tours.html">
                                            <button class="flat-button">View More</button>                                        
                                        </a>
                                    </div>
                                </a>
                            </div> <!-- /.box-wrap -->
                        </div> <!-- /.imagebox -->
                    </div> <!-- /.item -->
                </div> <!-- /.flat-imagebox -->
            </div> <!-- /.col-md-4 -->


        </div>
    </div>
</section>

<!-- imagebox -->
<section class="flat-row pd-imagebox v4">
    <div class="container">
        <div class="row">        

            <div class="container">
                <div class="dividers dividers-title-section"></div>
                <div class="title-section color-black style3 gallery">
                    <a class="number-slide" href="#">02</a>
                    <h2 class="title"><span>All Tours</span></h2> <!-- ./title -->
                </div>
            </div>        
            <div class="col-md-4">
                <div class="flat-imagebox style2 v2">
                    <div class="item">
                        <div class="imagebox">
                            <div class="box-wrap">
                                <div class="box-image">
                                    <a href="#"><img src="/upload/images/home/im-b-i14.jpg" alt="img"></a>
                                    <div class="overlay"></div> <!-- /.overlay -->
                                    <div class="imagebox-content">
                                        <ul class="imagebox-link">
                                            <li class="icon-s FromLeft">
                                                <a href="tour-details.html">
                                                    <button class="flat-button">Book Now</button>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <h4>Quba</h4>
                                    <div class="money"> <span>$</span>278</div>
                                    <div class="sub-title">2 days</div>

                                    <div class="wrap-star s2">                                            
                                        <ul class="star">
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                    </div> <!-- /.wrap-star -->
                                </div>
                            </div> <!-- /.box-wrap -->
                        </div> <!-- /.imagebox -->
                    </div> <!-- /.item -->

                    <div class="dividers dividers-imagebox s2 v2"></div>

                    <div class="item">
                        <div class="imagebox">
                            <div class="box-wrap">
                                <div class="box-image">
                                    <a href="#"><img src="/upload/images/home/im-b-i17.jpg" alt="img"></a>
                                    <div class="overlay"></div> <!-- /.overlay -->
                                    <div class="imagebox-content">
                                        <ul class="imagebox-link">
                                            <li class="icon-s FromLeft">
                                                <a href="tour-details.html">
                                                    <button class="flat-button">Book Now</button>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <h4>Qobustan</h4>
                                    <div class="money"> <span>$</span>78</div>
                                    <div class="sub-title">2 days</div>

                                    <div class="wrap-star s2">                                            
                                        <ul class="star">
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                    </div> <!-- /.wrap-star -->
                                </div>
                            </div> <!-- /.box-wrap -->
                        </div> <!-- /.imagebox -->
                    </div> <!-- /.item -->

                    <div class="dividers dividers-imagebox s2 v2"></div>

                    <div class="item">
                        <div class="imagebox">
                            <div class="box-wrap">
                                <div class="box-image">
                                    <a href="#"><img src="/upload/images/home/im-b-i20.jpg" alt="img"></a>
                                    <div class="overlay"></div> <!-- /.overlay -->
                                    <div class="imagebox-content">
                                        <ul class="imagebox-link">
                                            <li class="icon-s FromLeft">
                                                <a href="tour-details.html">
                                                    <button class="flat-button">Book Now</button>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <h4>Shaki</h4>
                                    <div class="money"> <span>$</span>784</div>
                                    <div class="sub-title">2 days</div>

                                    <div class="wrap-star s2">                                            
                                        <ul class="star">
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                    </div> <!-- /.wrap-star -->
                                </div>
                            </div> <!-- /.box-wrap -->
                        </div> <!-- /.imagebox -->
                    </div> <!-- /.item -->
                </div> <!-- /.flat-imagebox -->
            </div> <!-- /.col-md-4 -->

            <div class="col-md-4">
                <div class="flat-imagebox style2 v2">
                    <div class="item">
                        <div class="imagebox">
                            <div class="box-wrap">
                                <div class="box-image">
                                    <a href="#"><img src="/upload/images/home/im-b-i15.jpg" alt="img"></a>
                                    <div class="overlay"></div> <!-- /.overlay -->
                                    <div class="imagebox-content">
                                        <ul class="imagebox-link">
                                            <li class="icon-s FromLeft">
                                                <a href="tour-details.html">
                                                    <button class="flat-button">Book Now</button>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <h4>Ganja</h4>
                                    <div class="money"> <span>$</span>348</div>
                                    <div class="sub-title">2 week</div>

                                    <div class="wrap-star s2">                                            
                                        <ul class="star">
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                    </div> <!-- /.wrap-star -->
                                </div>
                            </div> <!-- /.box-wrap -->
                        </div> <!-- /.imagebox -->
                    </div> <!-- /.item -->

                    <div class="dividers dividers-imagebox s2 v2"></div>

                    <div class="item">
                        <div class="imagebox">
                            <div class="box-wrap">
                                <div class="box-image">
                                    <a href="#"><img src="/upload/images/home/im-b-i18.jpg" alt="img"></a>
                                    <div class="overlay"></div> <!-- /.overlay -->
                                    <div class="imagebox-content">
                                        <ul class="imagebox-link">
                                            <li class="icon-s FromLeft">
                                                <a href="tour-details.html">
                                                    <button class="flat-button">Book Now</button>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <h4>Quba</h4>
                                    <div class="money"> <span>$</span>458</div>
                                    <div class="sub-title">1 week</div>

                                    <div class="wrap-star s2">                                            
                                        <ul class="star">
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                    </div> <!-- /.wrap-star -->
                                </div>
                            </div> <!-- /.box-wrap -->
                        </div> <!-- /.imagebox -->
                    </div> <!-- /.item -->

                    <div class="dividers dividers-imagebox s2 v2"></div>

                    <div class="item">
                        <div class="imagebox">
                            <div class="box-wrap">
                                <div class="box-image">
                                    <a href="#"><img src="/upload/images/home/im-b-i21.jpg" alt="img"></a>
                                    <div class="overlay"></div> <!-- /.overlay -->
                                    <div class="imagebox-content">
                                        <ul class="imagebox-link">
                                            <li class="icon-s FromLeft">
                                                <a href="tour-details.html">
                                                    <button class="flat-button">Book Now</button>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <h4>Shaki</h4>
                                    <div class="money"> <span>$</span>458</div>
                                    <div class="sub-title">4 days</div>

                                    <div class="wrap-star s2">                                            
                                        <ul class="star">
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                    </div> <!-- /.wrap-star -->
                                </div>
                            </div> <!-- /.box-wrap -->
                        </div> <!-- /.imagebox -->
                    </div> <!-- /.item -->
                </div> <!-- /.flat-imagebox -->
            </div> <!-- /.col-md-4 -->

            <div class="col-md-4">
                <div class="flat-imagebox style2 v2">
                    <div class="item">
                        <div class="imagebox">
                            <div class="box-wrap">
                                <div class="box-image">
                                    <a href="#"><img src="/upload/images/home/im-b-i16.jpg" alt="img"></a>
                                    <div class="overlay"></div> <!-- /.overlay -->
                                    <div class="imagebox-content">
                                        <ul class="imagebox-link">
                                            <li class="icon-s FromLeft">
                                                <a href="tour-details.html">
                                                    <button class="flat-button">Book Now</button>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <h4>Shaki</h4>
                                    <div class="money"> <span>$</span>248</div>
                                    <div class="sub-title">6 days</div>

                                    <div class="wrap-star s2">                                            
                                        <ul class="star">
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                    </div> <!-- /.wrap-star -->
                                </div>
                            </div> <!-- /.box-wrap -->
                        </div> <!-- /.imagebox -->
                    </div> <!-- /.item -->

                    <div class="dividers dividers-imagebox s2 v2"></div>

                    <div class="item">
                        <div class="imagebox">
                            <div class="box-wrap">
                                <div class="box-image">
                                    <a href="#"><img src="/upload/images/home/im-b-i19.jpg" alt="img"></a>
                                    <div class="overlay"></div> <!-- /.overlay -->
                                    <div class="imagebox-content">
                                        <ul class="imagebox-link">
                                            <li class="icon-s FromLeft">
                                                <a href="tour-details.html">
                                                    <button class="flat-button">Book Now</button>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <h4>Quba</h4>
                                    <div class="money"> <span>$</span>178</div>
                                    <div class="sub-title">7 days</div>

                                    <div class="wrap-star s2">                                            
                                        <ul class="star">
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                    </div> <!-- /.wrap-star -->
                                </div>
                            </div> <!-- /.box-wrap -->
                        </div> <!-- /.imagebox -->
                    </div> <!-- /.item -->

                    <div class="dividers dividers-imagebox s2 v2"></div>

                    <div class="item">
                        <div class="imagebox">
                            <div class="box-wrap">
                                <div class="box-image">
                                    <a href="#"><img src="/upload/images/home/im-b-i23.jpg" alt="img"></a>
                                    <div class="overlay"></div> <!-- /.overlay -->
                                    <div class="imagebox-content">
                                        <ul class="imagebox-link">
                                            <li class="icon-s FromLeft">
                                                <a href="tour-details.html">
                                                    <button class="flat-button">Book Now</button>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="box-content">
                                    <h4>Shamakhi</h4>
                                    <div class="money"> <span>$</span>258</div>
                                    <div class="sub-title">10days</div>

                                    <div class="wrap-star s2">                                            
                                        <ul class="star">
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                            <li></li>
                                        </ul>
                                    </div> <!-- /.wrap-star -->
                                </div>
                            </div> <!-- /.box-wrap -->
                        </div> <!-- /.imagebox -->
                    </div> <!-- /.item -->
                </div> <!-- /.flat-imagebox -->
            </div> <!-- /.col-md-4 -->                         
        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                <div class="wrap-view-more">
                    <button class="viewmore">View More</button>
                </div>
            </div>
        </div>          
    </div><!-- /.container -->   
</section>   