html{
    height: 100%;
}
body{
    height: 100%;
}                           
                           /*========= MAIN PAGE START ==========*/
/*HEADER START*/
.logo img{
    width: 79%;
}
/*HEADER END*/

/*CONTENT SLIDER START*/
#content{
    background: #ffffff;
    padding-bottom: 140px;
}
#category-slider [class] { 
    transition: .2s ease-in-out; 
}
#category-slider .responsiv {
    display: none; 
}
#category-slider .responsiv ul {
      display: flex;
      justify-content: center;
      list-style: none; 
}
#category-slider .responsiv ul li:first-child {
  margin-top: 5px; 
}
#category-slider .responsiv ul li {
  font-size: 15px;
  line-height: 1.6;
  color: #868686;
}
#category-slider .responsiv ul li .btn {
  cursor: pointer;
  margin-left: 20px;
  font-weight: 400;
  color: #868686;
  background-color: transparent;
  border-color: #bdbdbd;
  padding: 7px 12px;
  font-size: 14px;
  line-height: 24px;
  border-radius: 5px;
  border-width: 1px;
  letter-spacing: 0.04em;
  box-shadow: 0 0; 
}
#category-slider .responsiv ul li .btn:focus {
  color: #fff;
  background-color: #18afd3;
  border-color: #18afd3; 
}
#category-slider .responsiv ul li .btn:hover {
  color: #fff;
  background-color: #18afd3;
  border-color: #18afd3; 
}
#category-slider .responsiv ul li .drop {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border: none; 
}
#category-slider .responsiv ul li .drop a {
  line-height: 1.4;
  padding: 5px 20px;
  font-size: 16px; 
}
#category-slider .imageHeader {
  margin-top: 40px;
  padding-left: 15px;
  padding-right: 15px; 
}
#category-slider .imageHeader ul {
  border-right: 1px solid #bdbdbd; 
}
#category-slider .imageHeader ul .active {
  border-right: 1px solid #f57e57; 
}
#category-slider .imageHeader ul li {
  line-height: 1.6;
  margin-bottom: 20px;
  display: block;
  text-align: right; 
}
#category-slider .imageHeader ul li a {
  color: #868686;
  padding: 0 20px 0 0;
  font-size: 18px;
  line-height: 1.34;
  margin-right: -1px;
  text-decoration: none;
  font-weight: 400; 
}
#category-slider .photos h3 {
  line-height: 1.13;
  font-size: 46px;
  letter-spacing: 0.03em;
  color: #434445;
  font-weight: 400; 
}
#category-slider .photos h3:after {
  content: '';
  position: absolute;
  width: 80px;
  height: 4px;
  top: 70px;
  left: 20px;
  background: #fd7e21; 
}
#category-slider .photos .btn {
  line-height: 1.33;
  font-size: 18px;
  background: #f57e57;
  border-color: #f57e57;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 10px 30px; 
}
#category-slider .photos .btn:hover {
  background: #18afd3;
  border-color: #18afd3; 
}
#category-slider .photos .noPadding {
  padding: 0; 
}

#category-slider .photos .noPadding img {
  width: 100%;
  margin-top: 70px;
}
#category-slider .photos .noPadding p {
  font-size: 15px;
  line-height: 1.6;
  color: #868686;
  margin: 31px 0 10px; 
}
#category-slider .photos .noPadding ul {
  padding: 0 30px;
  margin: 0; 
}
#category-slider .photos .noPadding ul li {
  font-size: 15px;
  line-height: 1;
  color: #868686;
  margin-bottom: 10px; 
  list-style: none;
}
#category-slider .photos .noPadding ul i {
  color: #18afd3;
  margin-right: 20px; 
}


@media (max-width: 1199px) {
  #category-slider .imageHeader ul li a {
    font-size: 16px; 
  }
   #category-slider .imageHeader ul li {
    margin-bottom: 10px; 
  }
  #category-slider .imageHeader ul {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    border: none;
    border-bottom: 1px solid #bdbdbd; 
  }
  #category-slider .imageHeader {
    padding-left: 0; 
  } 
}
@media (max-width: 991px) {
  #category-slider .imageHeader ul {
    display: none; 
  } 
  #category-slider .responsiv {
        display: block; 
  }
  #header .menu_responsive {
    display: block; 
  }
}
@media (max-width: 767px) {
  #category-slider .photos .noPadding p {
    text-align: center; 
  }
  #category-slider .photos .noPadding {
    margin: 0 auto; 
  }
  #category-slider .photos h3 {
    font-size: 26px;
    line-height: 1.5;
    text-align: center; 
  }
  #category-slider .photos h3:after {
    left: 40%; 
  }
}
@media (max-width: 479px) {
  #category-slider .responsiv ul li .drop {
    left: -55px; 
  } 
  #category-slider .responsiv ul li:first-child {
    margin-left: -4px; 
  }
}
/*CONTENT SLIDER END */

.custom-video{
    padding: 0;
}
.custom-video video{
    height: 600px;
}
                             /*========= MAIN PAGE END ==========*/

                             /*========= Profile PAGE START ==========*/
.custom-profile-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.custom-profile-image h4{
    text-align: center;
    margin-top: 10px;
}

/*PROFILE CUSTOM SLIDER START*/
.wrap-title.profile-overview.s2{
    padding: 50px 0 14px;
}
#category-slider.profile{
    background-color: #f8f8f8;
    padding: 40px 0;
}
#category-slider .profile-slider{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #bdbdbd;
    border-right: 0 !important;  
}
#category-slider .imageHeader .profile-slider .active{
    border-bottom: 1px solid #f57e57;
    border-right: none !important;
}
#category-slider .imageHeader .profile-slider li{
    margin-bottom: 0;
    padding-bottom: 6px;
}
#category-slider .imageHeader .profile-slider li a{
    padding: 0 20px 0 20px;
}
#category-slider .photos .profile-button{
    display: flex;
    justify-content: space-between;
}
#category-slider .photos .profile-button button{
    border-radius: 4px;
    padding: 13px 20px 12px 20px;
    margin-right: 15px;
}
#category-slider .photos .profile-h3{
    font-size: 22px;
    margin: 0px 0px 30px 15px;
}
#category-slider .photos .profile-h3:after{
    height: 2px;
    top:35px;
    left: 33px;
}

/* Change Email & Invite Guide Form Start */
.wrap-form-update #profile-setting{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrap-form-update #profile-setting .form-input-size{
    width: 100%;
    height: 50px;
}
/* Change Email & Invite Guide Form End*/
/* Change Password Start */
#profile-setting .change-input{
    display: flex;
    width: 100%;
    justify-content: center;
}
#profile-setting .change-input .profile-input{
    margin: 0 10px;
    width: 50%;
}
/* Change Password END */
/*PROFILE SLIDER END*/

.flat-imagebox .delete-update-icons{
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flat-imagebox .delete-update-icons div a{
    margin-left: 5px;
    font-size: 20px;
    color: #fd7e21;;
}

/*PROFILE GUIDE TABLE START*/
.custom-table {
    min-width: 900px; 
    background-color: #19191d;
}
.custom-table thead tr, 
.custom-table thead th {
    border-top: none;
    border-bottom: none !important;
    background: #eaeaea;
    color: #000;
    border-bottom: 1px solid #999494 !important; 
}
.custom-table thead tr, 
.custom-table thead .active th {
    color: #fff;
    background: #fd7e21 !important;
    border-bottom: 1px solid #999494 !important; 
}
.custom-table tbody th, 
.custom-table tbody td {
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 300;
    border-bottom: 1px solid #aeadad;
}
.custom-table tbody th small, 
.custom-table tbody td small {
    color: #000;
    font-weight: 300; 
    display: block;
}
.custom-table tbody tr:not(.spacer) {
    overflow: hidden;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; 
    height: 60px;
}
.custom-table tbody tr:not(.spacer):hover {
    -webkit-box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px -5px rgba(0, 0, 0, 0.1); 
}
.custom-table tbody tr th, 
.custom-table tbody tr td {
    background: #eaeaea;
    border: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; 
}
.custom-table tbody tr th:first-child, 
.custom-table tbody tr td:first-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; 
}
.custom-table tbody tr th:last-child, 
.custom-table tbody tr td:last-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; 
}
.custom-table tbody tr.spacer td {
    padding: 0 !important;
    height: 3px;
    border-radius: 0 !important;
    background: transparent !important; 
}
.custom-table tbody tr.active th, 
.custom-table tbody tr.active td, 
.custom-table tbody tr:hover th, 
.custom-table tbody tr:hover td {
    background: #f5f5f5; 
}
.custom-table tbody tr.active th a, 
.custom-table tbody tr.active td, 
.custom-table tbody tr.active small, 
.custom-table tbody tr.active td a {
    color: #fff !important; 
}
.custom-table>tbody>tr.active>th,
.custom-table>tbody>tr.active>td{
    background: #fd7e21 !important;
}
/* Custom Checkbox */
.control {
    display: block;
    position: relative;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 18px; 
}  
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0; 
}  
.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    border: 2px solid;
    background: transparent; 
}
.custom-table .active .control__indicator{
    background-color: #fff;
    border: 2px solid #fff;
}
.custom-table .control .control__indicator i{
    opacity: 0;
    position: absolute;
}
.custom-table .active .control__indicator i{
    opacity: 1;
    color: #fd7e21;   
}
.control--radio .control__indicator {
    border-radius: 50%; 
}
  
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    border: 2px solid #fd7e21; 
}
.control input:checked ~ .control__indicator 
.control input:checked ~ .control__indicator i {
    border: 2px solid #fd7e21;
    background: #fff;
    opacity: 1; 
}
.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
    border: 2px solid #ccc; 
}
.control input:checked ~ .control__indicator:after {
    display: block;
    color: #fff; 
}
.control--checkbox .control__indicator:after {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -52%);
    -ms-transform: translate(-50%, -52%);
    transform: translate(-50%, -52%); 
}
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b; 
}
.control--checkbox input:disabled:checked ~ .control__indicator {
    background-color: #007bff;
    opacity: .2;
    border: 2px solid #007bff; 
}
/*PROFILE GUIDE TABLE START*/
                            /*========= PROFILE PAGE END ==========*/

                            /*========= TOUR-CREATE PAGE START ==========*/
.contact-form .wrap-input .profile-input{
    margin-bottom: 20px;
}
.contact-form .wrap-input .profile-input input,
.contact-form .profile-input textarea{
    background-color: #ffffff !important;
    margin-bottom: 0px;
}
.contact-form .wrap-input .profile-input select{
    width: 100%;
}
.contact-form .wrap-input .profile-input{
    width: 100%;
}
.contact-form .wrap-input .profile-input.input-group{
    margin-bottom: 0;
}
.contact-form .form-input-size{
    height: 45px !important;
    border: 1px solid #eaeaea;
}
/* Multi-File Upload Plugin Style Start */
.kwt-file {
    margin: 0 auto;
  }
  
  .kwt-file__drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: #ffffff;
    border-radius: 1px;
    border: 1px solid #eaeaea;
    transition: 0.3s;
  }
  
  .kwt-file__drop-area.is-active {
    background-color: #d1def0;
  }
  
  .kwt-file__choose-file {
    flex-shrink: 0;
    background-color: #FD7E21;
    border-radius: 100%;
    margin: 0 10px;
    color: #ffffff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .kwt-file__choose-file.kwt-file_btn-text {
    border-radius: 4px;
    width: auto;
    height: auto;
    padding: 10px 20px;
    font-size: 14px;
  }
  
  .kwt-file__choose-file svg {
    width: 15px;
    display: block;
  }
  
  .kwt-file__msg {
    color: #a8a8a8;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .kwt-file__input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
  }
  
  .kwt-file__input:focus {
    outline: none;
  }
  
  .kwt-file__delete {
    display: none;
    position: absolute;
    right: 10px;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }
  
  .kwt-file__delete:before {
    content: "";
    position: absolute;
    left: 0;
    transition: 0.3s;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg fill='%231d3557' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 438.5 438.5'%3e%3cpath d='M417.7 75.7A8.9 8.9 0 00411 73H323l-20-47.7c-2.8-7-8-13-15.4-18S272.5 0 264.9 0h-91.3C166 0 158.5 2.5 151 7.4c-7.4 5-12.5 11-15.4 18l-20 47.7H27.4a9 9 0 00-6.6 2.6 9 9 0 00-2.5 6.5v18.3c0 2.7.8 4.8 2.5 6.6a8.9 8.9 0 006.6 2.5h27.4v271.8c0 15.8 4.5 29.3 13.4 40.4a40.2 40.2 0 0032.3 16.7H338c12.6 0 23.4-5.7 32.3-17.2a64.8 64.8 0 0013.4-41V109.6h27.4c2.7 0 4.9-.8 6.6-2.5a8.9 8.9 0 002.6-6.6V82.2a9 9 0 00-2.6-6.5zm-248.4-36a8 8 0 014.9-3.2h90.5a8 8 0 014.8 3.2L283.2 73H155.3l14-33.4zm177.9 340.6a32.4 32.4 0 01-6.2 19.3c-1.4 1.6-2.4 2.4-3 2.4H100.5c-.6 0-1.6-.8-3-2.4a32.5 32.5 0 01-6.1-19.3V109.6h255.8v270.7z'/%3e%3cpath d='M137 347.2h18.3c2.7 0 4.9-.9 6.6-2.6a9 9 0 002.5-6.6V173.6a9 9 0 00-2.5-6.6 8.9 8.9 0 00-6.6-2.6H137c-2.6 0-4.8.9-6.5 2.6a8.9 8.9 0 00-2.6 6.6V338c0 2.7.9 4.9 2.6 6.6a8.9 8.9 0 006.5 2.6zM210.1 347.2h18.3a8.9 8.9 0 009.1-9.1V173.5c0-2.7-.8-4.9-2.5-6.6a8.9 8.9 0 00-6.6-2.6h-18.3a8.9 8.9 0 00-9.1 9.1V338a8.9 8.9 0 009.1 9.1zM283.2 347.2h18.3c2.7 0 4.8-.9 6.6-2.6a8.9 8.9 0 002.5-6.6V173.6c0-2.7-.8-4.9-2.5-6.6a8.9 8.9 0 00-6.6-2.6h-18.3a9 9 0 00-6.6 2.6 8.9 8.9 0 00-2.5 6.6V338a9 9 0 002.5 6.6 9 9 0 006.6 2.6z'/%3e%3c/svg%3e");
  }
  
  .kwt-file__delete:after {
    content: "";
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #1d3557;
    border-radius: 50%;
    transition: 0.3s;
  }
  
  .kwt-file__delete:hover:after {
    transform: translate(-50%, -50%) scale(2.2);
    opacity: 0.1;
  }
  /* Multi-File Upload Plugin Style End */
                            /*========= TOUR-CREATE PAGE END ==========*/

                            /*========= Event PAGE START ==========*/
.pd-blog-single .container .row{
    display: flex;
    justify-content: center;
}
.main-content .featured-post img{
    width: 100% !important;
    height: 400px;
}                            
                            /*========= Event PAGE END ==========*/


                            /*========= LOGIN PAGE START ==========*/
.flat-row.page-register.bg-theme{
    min-height: 100%;
}
#category-slider .register{
    margin-top: 0 !important;
}
#category-slider .login-form .title-section{
    margin: 20px 0 10px
}
.page-login{
    background: url(../images/login/login.jpg);
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
.wrap-login-register .login-input{
    margin-bottom: 10px;
}

.wrap-login-register p input{
    color: #fff;
    font-size: 16px !important;
    margin-bottom: 0 !important;
}
.wrap-login-register input::placeholder {
    color: #d2d2d2;
}
.page-register{
    background: url(../images/login/login.jpg);
    background-size: cover; 
    background-attachment: fixed;
}
                            /*========= LOGIN PAGE END ==========*/


                            /*========= ACCOMMODATION PAGE END ==========*/
.flat-imagebox.style2.v3 .imagebox .box-content i{
    color: #fd7e21;
}
.flat-imagebox.style2 .item>a{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:1;
}
.flat-imagebox.style2.v3 .imagebox .box-image{
    width: 100%;
    height: 250px;
}
.flat-imagebox.style2.v3 .imagebox .box-image img{
    width: 100%;
    height: 100%;
}
.flat-imagebox.style2.v3 .imagebox .box-content h6{
    font-family: "Alegreya", sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}

                            /*========= ACCOMMODATION DETAILS PAGE START ==========*/
.widget.widget-travel-trip ul li .text>h6{
        margin: 8px 0 4px;
}
.sidebar .widget.s2 .widget-title{
    color: #fd7e21;
}
.gn-gallery .custom-p .active{
    margin-left: 0;
}
.gn-gallery .custom-p i{
    margin-left: 30px;
    margin-right: 5px;
}
.update-input{
    display: flex;
}
.update-input .form-group{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
}
.update-input .input-group{
    width: 90%;
    margin-left: 15px;
}
.update-form .custom-update-submit{
    width: 160px;
    margin:0 21px 0 0;
}
.wrap-content-title .accommodation-count{
    display: flex;
    margin-bottom: 10px;
}
.wrap-content-title .accommodation-count p{
    margin-right: 15px;
    font-size: 17px;
}
                            /*========= ACCOMMODATION DETAILS PAGE END ==========*/
                            /*========= ACCOMMODATION PAGE END ==========*/


                            /*========= TOURS PAGE START ==========*/
#demos{
    padding: 20px 0;
}
#demos .imagebox .box-image{
    height: 250px;
}
.flat-imagebox.style3 .box-wrap>a{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
.custom-margin{
    margin-top: 40px;
}
.flat-imagebox.style2.v2 .imagebox .box-image{
    height: 250px;
    width: 100%;
}
.flat-imagebox.style2.v2 .imagebox .box-image img{
    width: 100%;
    height: 100%
}
                            /*========= TOURS-DETAILS PAGE START ==========*/
.custom-widget{
    margin-top: 30px;
}
.filter-search-form .custom-form-filter-search-submit{
    margin-top:0; 
}
.filter-search-form .custom-filter-search-submit{
    width: 160px;
    margin:0 21px 0 0;
    padding: 16px 0;
}
.custom-tour-form-group{
    width: 41%;
}
.tour-custom-filter-search{
    width: 62%;
}
.flat-row.custom-pd-destination-details{
        padding: 79px 0 20px !important;
}
.custom-pd-destination-details .tour-slider{
    width: 100%;
    margin-bottom: 40px;
}
.custom-pd-destination-details #ninja-slider{
    height: 486px;
    width: 85%;
}
.custom-pd-destination-details #ninja-slider .slider-inner{
    height: 100%;
}
.custom-pd-destination-details #ninja-slider ul{
    padding: 0 !important;
    height: 100% !important;
}
.custom-pd-destination-details #thumbnail-slider{
    height:486px;
}
#ninja-slider.fullscreen {
    height: 100%;
}
                            /*========= TOURS-DETAILS PAGE END ==========*/
                            /*========= TOURS PAGE END ==========*/


                            /*========= GUIDE PAGE START ==========*/
.flat-team .avatar{
    height: 250px;
}
.flat-team .avatar img{
    width: 100%;
    height: 100%;
}
.flat-team .avatar .link{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}
                            /*========= GUIDE-DETAILS PAGE START ==========*/
.custom-flat-row.pd-destination-details{
    padding:50px 0 0;
}
.custom-img{
    border-radius: 50%;
    max-width: 160px;
    height: 160px;
}
.box-trip-review .custom-content-trip{
    padding: 25px 13px;
    border: none; 
}
.guide-overview{
    margin: 10px 0 45px;
}
.custom-featured-trip{
    margin-top: 69px;
}
.custom-wrap-destination-detail{
    display: flex;
}
.custom-box-trip-review{
    margin: 0;
    width: 100%;
}
.custom-wrap-title{
    padding: 0;
}
.custom-wrap-title h4{
    margin-bottom: 46px;
}
.box-map .custom-info-map{
    width: 100%;
}
.sidebar .thumb.overlays2{
    width: 75px ;
    margin-top: 0 !important;
}

@media screen and (max-width:767px){
    .custom-wrap-destination-detail{
        height: auto;
    }
    .custom-resp-center{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
                            /*========= GUIDE-DETAILS PAGE END ==========*/
                            /*========= GUIDE PAGE END ==========*/

                            /*========= GUIDE RECOMMENDED DETAILS PAGE START ==========*/
.custom-tour-slider{
    margin-bottom: 40px;
}
#ninja-slider.custom-ninja-slider{
    width: 675px;
}
#ninja-slider.custom-ninja-slider ul{
    margin-bottom: 0;
}
#thumbnail-slider.custom-thumbnail-slider{
    height: 338px;;
}
.widget.widget-reviewes-tours .custom-widget-title{
    margin-bottom: 40px;
}
                            /*========= GUIDE RECOMMENDED DETAILS PAGE END ==========*/


                            /*========= ACCOMMODATION PAGE START ==========*/
.flat-imagebox.style2 .imagebox .box-content span i{
    color:#fd7e21;
}
                            /*========= ACCOMMODATION PAGE END ==========*/
                            /*========= ACCOMMODATION-DETAILS PAGE START ==========*/
.gn-gallery .custom-h3{
    padding: 30px 0 10px;
    color: #000000;
}
.custom-description{
    display: flex;
    margin-bottom: 25px;
}
.custom-description img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-right: 20px;
}
.custom-description h3{
    margin-top: 18px;
}
.custom-home-about{
    margin-top: 40px;
}
.custom-home-about ul li{
    display: flex;
    margin-bottom: 10px;
}
.custom-home-about ul li p,
.custom-home-about ul li span{
    font-size: 18px;
}
.custom-home-about ul li p{
    font-weight: 600;
    width: 180px;
}
.custom-amenities,
.custom-host,
.custom-host ul{
    display: flex;
}
.custom-amenities ul:first-child{
    margin-right: 70px;
}
.custom-home-rules{
    margin-top: 10px;
}
.custom-host {
    margin-bottom: 35px;
}
.custom-host div:first-child{
    width: 50%;
}
.custom-similar p{
    padding: 5px 0 0;
    font-size: 17px;
}
.custom-host div ul li{
    margin-right: 25px;
    font-size: 16px;
}
.custom-host .host-image{
    width: 100px;
    height: 100px;
}
.custom-host div img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}
.custom-self-introduction ul li{
    font-size: 17px;
    line-height: 1.4;
}
.custom-self-introduction ul li span{
    font-weight: 600;
    margin-left: 4px;
}
                            /*========= ACCOMMODATION-DETAILS PAGE END ==========*/
                            /*========= PERSONAL-DRIVER PAGE START ==========*/

                            /*========= PERSONAL-DRIVER-DETAILS PAGE START ==========*/
.update-input .custom-input-group {
    width: 96%;
    margin-left: 7px;
}
.custom-form-group-prsnl-drvr{
    width: 33.33%;
}
.custom-select-prsnl-drvr{
    width: 100% !important;
}
                            /*========= PERSONAL-DRIVER-DETAILS PAGE END ==========*/
                            /*========= PERSONAL-DRIVER PAGE END ==========*/


                             /*========= TRANSFER PAGE START ==========*/
                             /*========= TRANSFER-DETAILS PAGE START ==========*/
.filter-search-form .custom-filter-search .search-filter-input{
    width: 33.33% !important;
}                  


                              /*========= TRANSFER-DETAILS PAGE END ==========*/
                              /*========= TRANSFER PAGE END ==========*/


                            /*========= PHOTO-VIDEO PAGE START ==========*/
                            /*========= PHOTO-VIDEO-DETAILS PAGE START ==========*/
.custom-demos{
    margin-top: 80px;
}
.custom-overlays2 a.link:before{
    background: initial;
}
.owl-carousel .custom-item .thumb{
    height: 300px;
    position: relative;
}
.owl-carousel .custom-item img{
    width: 100% !important;
    height: 300px;
}
.owl-carousel .overlays2 a.link:before {
    z-index: 98;
}                

.owl-carousel .custom-item .text{
    display: flex;
    justify-content: space-between;
}
.owl-carousel .custom-item .text p:last-child{
    font-family: "Lora", sans-serif;
    background: #fd7e21;
    color: #ffffff;
    padding: 8px 9px;
    font-size: 21px;
    font-weight: 600;
    transform: translate(-13px,-15px);
    z-index: 99;
}
.owl-carousel .custom-item .sub-text{
    padding-top: 8px;
}
.owl-carousel .custom-item .sub-text a{
    font-size: 22px;
    color: #000000;
}
.owl-theme .owl-dots{
    display: flex;
    justify-content: center;
}
.owl-theme .owl-dots .owl-dot span{
    width: 12px;
    height: 12px;
    background-color: #908b8b;  
}
.owl-theme .owl-dots .owl-dot:hover span{
    background-color: #fd7e21;
}
.owl-theme .owl-dots .owl-dot.active span{
    background-color: #fd7e21;
}
                              /*========= PHOTO-VIDEO-DETAILS PAGE END ==========*/
                              /*========= PHOTO-VIDEO PAGE END ==========*/

                              /*========= Review START ==========*/
#star-rate .star.v1 .active:before{
    content: "\f005" !important;
}
#star-rate .star.v1 .keep-active:before{
    content: "\f005" !important;
}
#review-stars .active:before{
    content: "\f005" !important;
}
                                /*========= Review END ==========*/
                              /*========= DASHBOARD-HEADER START ==========*/
.dashboard-custom-menu{
    display: flex;
    align-items: center;
}
.dashboard-custom-menu .nav-wrap{
    display: flex;
    justify-content: center;
}
.dashboard-custom-menu #mainnav ul li {
    display: inline-block;
}
.dashboard-custom-menu #mainnav ul li a{
    line-height: 0px !important;
    padding: 0 27px 0 0;
    font-size: 18px;
    font-family: "Lora", sans-serif I !important;
    font-family: inherit !important;
    font-weight: 400;
    letter-spacing: 0.35px;
    color: #fff;
}
.dashboard-custom-menu #mainnav .menu{ 
    margin: 0;
}
.dashboard-custom-menu #mainnav ul li a:hover{
    color: #fd7e21;
    position: relative;
    transition: all 0.3s ease-in-out;
    text-decoration: none;  
}

                              /*========= DASHBOARD-HEADER END ==========*/
